.table {
    margin: auto 2rem;
    font-size: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-spacing: 0;
    border-collapse: collapse;
    border-style: hidden;
    text-align: center;
    width: 90%;

}

.table th, .table td{
    border: 1px solid var(--darkBlue);
    padding: 5px;
    
}

.scores{
    width: 100px;
}