@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root{
  --darkBlue: #0C134F;
  --darkBlue50: #0c134faf;
  --mediumBlue: #1D267D;
  --purple: #5C469C;
  --purple50: #5c469c77;
  --lightPurple: #D4ADFC;
  --pink: #ffb7b787;
  --green: #96c29196;
}


* {
  color: var(--darkBlue);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Nunito', sans-serif;
}